<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" href="../static/libs/font-awesome.min.css">
    <script src="../static/libs/jquery.js"></script>
    <script type="text/javascript">
        //test
    </script>
    <title>Choose service</title>
</head>

<body>
    <div id="body">
        <nav>
            <span>proyurist.ur</span>
        </nav>
        <h3><span>Choose services</span></h3>
        <div id="form">
            <h4>Advocates</h4>
            <form method="post" action=" " onsubmit>

                <ul>


                    <li id="Pick"><input id="check1" name="N1" value=" Consultation" type="checkbox" class="check" hidden>
                        <label for="check1" class="fa fa-square-o"><span> Consultation</span></label>
                    </li>

                    <li id="Pick"><input id="check2" name="N2" value=" Writing statements" type="checkbox" class="check" hidden>
                        <label for="check2" class="fa fa-square-o"><span> Writing statements </span></label>
                    </li>

                    <li id="Pick"><input id="check3" name="N3" value=" Preparation of claims" type="checkbox" class="check" hidden>
                        <label for="check3" class="fa fa-square-o"><span> Preparation of claims</span></label>
                    </li>

                    <li id="Pick"><input id="check4" Drawing up complaints name="N4" value="Drawing up complaints " type="checkbox" class="check" hidden>
                        <label for="check4" class="fa fa-square-o"><span> Drawing up complaints</span></label>
                    </li>

                    <li id="Pick"><input id="check5" name="N5" value="Statement of claim to court " type="checkbox" class="check" hidden>
                        <label for="check5" class="fa fa-square-o"><span>Statement of claim to court </span></label>
                    </li>

                    <li id="Pick"><input id="check6" name="N6" value=" Statement of claim to court " type="checkbox" class="check" hidden>
                        <label for="check6" class="fa fa-square-o"><span> Statement of claim to court </span></label>
                    </li>

                    <li id="Pick"><input id="check7" name="N7" value=" Filing an appeal, cassation, supervisory complaints" type="checkbox" class="check" hidden>
                        <label for="check7" class="fa fa-square-o"><span> Filing an appeal, cassation, supervisory complaints</span></label>
                    </li>

                    <li id="Pick"><input id="check8" name="N8" value="  Pre-trial protection" type="checkbox" class="check" hidden>
                        <label for="check8" class="fa fa-square-o"><span> Pre-trial protection </span></label>
                    </li>

                    <li id="Pick"><input id="check9" name="N9" value="  Defense in court " type="checkbox" class="check" hidden>
                        <label for="check9" class="fa fa-square-o"><span>  Defense in court </span></label>
                    </li>

                    <li id="Pick"><input id="check10" name="N10" value=" Defense in courts of second instance " type="checkbox" class="check" hidden>
                        <label for="check10" class="fa fa-square-o"><span>Defense in courts of second instance </span></label>
                    </li>

                    <li id="Pick"><input id="check11" name="N11" value="Defense in appeal, cassation  " type="checkbox" class="check" hidden>
                        <label for="check11" class="fa fa-square-o"><span>Defense in appeal, cassation </span></label>
                    </li>

                    <li id="Pick"><input id="check12" name="N12" value=" Departure of a lawyer for a search  " type="checkbox" class="check" hidden>
                        <label for="check12" class="fa fa-square-o"><span> Departure of a lawyer for a search</span></label>
                    </li>

                    <li id="Pick"><input id="check13" name="N13" value="Departure of a lawyer to the Department of Internal Affairs  " type="checkbox" class="check" hidden>
                        <label for="check13" class="fa fa-square-o"><span> Departure of a lawyer to the Department of Internal Affairs</span></label>
                    </li>

                    <li id="Pick"><input id="check14" name="N14" value="  The presence of a lawyer at the confrontation " type="checkbox" class="check" hidden>
                        <label for="check14" class="fa fa-square-o"><span>  The presence of a lawyer at the confrontation</span></label>
                    </li>

                    <li id="Pick"><input id="check15" name="N15" value=" The presence of a lawyer during interrogation " type="checkbox" class="check" hidden>
                        <label for="check15" class="fa fa-square-o"><span> The presence of a lawyer during interrogation</span></label>
                    </li>

                    <li id="Pick"><input id="check16" name="N16" value="  Departure of a lawyer to the Department of Internal Affairs" type="checkbox" class="check" hidden>
                        <label for="check16" class="fa fa-square-o"><span> Departure of a lawyer to the Department of Internal Affairs </span></label>
                    </li>

                    <li id="Pick"><input id="check17" name="N17" value=" Departure of the lawyer to the IVS " type="checkbox" class="check" hidden>
                        <label for="check17" class="fa fa-square-o"><span> Departure of the lawyer to the IVS </span></label>
                    </li>

                    <li id="Pick"><input id="check18" name="N18" value="   Departure of the lawyer to the SIZO" type="checkbox" class="check" hidden>
                        <label for="check18" class="fa fa-square-o"><span>  Departure of the lawyer to the SIZO</span></label>
                    </li>

                    <li id="Pick"><input id="check19" name="N19" value="  Departure of a lawyer to prison  " type="checkbox" class="check" hidden>
                        <label for="check19" class="fa fa-square-o"><span>  Departure of a lawyer to prison </span></label>
                    </li>

                    <li id="Pick"><input id="check20" name="N20" value=" Appeal against illegal actions of law enforcement officers " type="checkbox" class="check" hidden>
                        <label for="check20" class="fa fa-square-o"><span> Appeal against illegal actions of law enforcement officers </span></label>
                    </li>

                    <li id="Pick"><input id="check21" name="N21" value="  Organization of meetings with the accused " type="checkbox" class="check" hidden>
                        <label for="check21" class="fa fa-square-o"><span>  Organization of meetings with the accused </span></label>
                    </li>

                    <li id="Pick"><input id="check22" name="N22" value="  Transfer of parcels " type="checkbox" class="check" hidden>
                        <label for="check22" class="fa fa-square-o"><span> Transfer of parcels </span></label>
                    </li>

                    <li id="Pick"><input id="check23" name="N23" value="  Protection against tax and economic crimes." type="checkbox" class="check" hidden>
                        <label for="check23" class="fa fa-square-o"><span>Protection against tax and economic crimes. </span></label>
                    </li>

                    <li id="Pick"><input id="check2" name="N24" value=" Resistance to raider seizures. " type="checkbox" class="check" hidden>
                        <label for="check24" class="fa fa-square-o"><span> Resistance to raider seizures. </span></label>
                    </li>


                    <li id="Pick"><input id="check25" name="N25" value=" Legal audit of the organization " type="checkbox" class="check" hidden>
                        <label for="check25" class="fa fa-square-o"><span> Legal audit of the organization</span></label>
                    </li>

                    <li id="Pick"><input id="check26" name="N26" value=" Conducting civil and administrative cases for individuals. " type="checkbox" class="check" hidden>
                        <label for="check26" class="fa fa-square-o"><span> Conducting civil and administrative cases for individuals. </span></label>
                    </li>

                    <li id="Pick"><input id="check27" name="N27" value=" Assistance to legal entities and individual entrepreneurs.  " type="checkbox" class="check" hidden>
                        <label for="check27" class="fa fa-square-o"><span> Assistance to legal entities and individual entrepreneurs.</span></label>
                    </li>

                    <li id="Pick"><input id="check28" name="N28" value=" Assistance in bankruptcy proceedings. " type="checkbox" class="check" hidden>
                        <label for="check28" class="fa fa-square-o"><span> Assistance in bankruptcy proceedings.</span></label>
                    </li>

                    <li id="Pick"><input id="check29" name="N29" value="  Assistance in debt collection.  " type="checkbox" class="check" hidden>
                        <label for="check29" class="fa fa-square-o"><span>  Assistance in debt collection.</span></label>
                    </li>

                    <li id="Pick"><input id="check30" name="N30" value="  Drafting of legal documents to the Supreme Court of the Russian Federation " type="checkbox" class="check" hidden>
                        <label for="check30" class="fa fa-square-o"><span>  Drafting of legal documents to the Supreme Court of the Russian Federation </span></label>
                    </li>

                    <li id="Pick"><input id="check31" name="N31" value=" Drafting of legal documents to the Supreme Arbitration Court of the Russian Federation  " type="checkbox" class="check" hidden>
                        <label for="check31" class="fa fa-square-o"><span> Drafting of legal documents to the Supreme Arbitration Court of the Russian Federation </span></label>
                    </li>

                    <li id="Pick"><input id="check32" name="N32" value=" Drafting of legal documents to the Constitutional Court of the Russian Federation.  " type="checkbox" class="check" hidden>
                        <label for="check32" class="fa fa-square-o"><span> Drafting of legal documents to the Constitutional Court of the Russian Federation. </span></label>
                    </li>

                    <li id="Pick"><input id="check33" name="N33" value="  Participation of a lawyer in the Supreme Courts of the Russian Federation. " type="checkbox" class="check" hidden>
                        <label for="check33" class="fa fa-square-o"><span>  Participation of a lawyer in the Supreme Courts of the Russian Federation. </span></label>
                    </li>

                    <li id="Pick"><input id="check34" name="N34" value=" Participation of a lawyer in the Supreme Arbitration Courts of the Russian Federation  " type="checkbox" class="check" hidden>
                        <label for="check34" class="fa fa-square-o"><span> Participation of a lawyer in the Supreme Arbitration Courts of the Russian Federation </span></label>
                    </li>

                    <li id="Pick"><input id="check35" name="N35" value="   Participation of a lawyer in the Constitutional Courts of the Russian Federation" type="checkbox" class="check" hidden>
                        <label for="check35" class="fa fa-square-o"><span>  Participation of a lawyer in the Constitutional Courts of the Russian Federation; </span></label>
                    </li>

                    <li id="Pick"><input id="check36" name="N36" value=" Assistance in conducting the enforcement proceedings.  " type="checkbox" class="check" hidden>
                        <label for="check36" class="fa fa-square-o"><span>  Assistance in conducting the enforcement proceedings. </span></label>
                    </li>

                    <!--end list-->

                </ul>
                <footer><input onclick="send()" type="submit"></footer>
            </form>
        </div>
    </div>
    <p></p>
    <script type="text/javascript">
        let choosed = 20;
        $("li label").click(function() {
            let check = this.class;

            if (check == "fa fa-square-o") {
                choosed--;
                $(this)
                    .attr("class", "fa fa-check-square")
                    .parent("li").css("background", "#E9DBEC");

            } else if (choosed > -1) {
                choosed++;
                $(this)
                    .attr("class", "fa fa-square-o")
                    .parent("li").css("background", "white");

            } else
                alert("you can only choose twenty or less services");
        });

        function send() {
            $.ajax({
                url: window.location,
                type: "post"
            })
        }
    </script>
</body>

</html>